body{
    margin: 10px;
    padding: 0;

}
.container{
    margin: 10px;
    width: 100%;
    height: 100%;
}
.container div{
    margin: 5px;
    padding: 3px;
}
.row{
    display: flex;
}
.header{

    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    flex: 1;
    position: relative;
    height: 60px;
}
.nav{

    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    flex: 1;
    position: relative;
    height: 30px;
}
.aside{

    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    align-items: center;
    width: 20%;
}
.navigation{

    border: 3px solid;
    border-radius: 10px;
    justify-content: center;
    width: 60%;
    height: 40%;
    align-items: center;


}
.section{

    border: 3px solid;
    border-radius: 10px;
    justify-content: center;
    width: 60%;
    height: 40%;
        align-items: center;
}
.main{

    margin: 10px;
    display: flex;
    border: 3px solid;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 420px;

}
.Section{

    border: 3px solid;
    border-radius: 10px;
    justify-content: center;
    width: 90%;

}
.article{

    border: 3px solid;
    border-radius: 10px;
    justify-content: center;
    width: 90%;
    height: 60%;
}
.footer{

    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    flex: 1;
    position: relative;
    height: 20px;
}
